.dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
.dotDark {
    height: 18px;
    width: 18px;
    background-color: #312B2B;
    border-radius: 50%;
    display: inline-block;
}
@media (min-width: 1200px)
{
    .my-container {
        max-width: 850px;
        background: #f8f7f3;
        padding: 80px 40px;
    }
}
i{
    margin-right: 10px;
}
.list-group{
    margin-left: 60px;
}
.list-group li{
    list-style-image: url("download.png");
}
.container{
    padding-top: 30px;
}